@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;800&family=Inter:wght@200;400;500;700&family=Kumbh+Sans:wght@400;700&family=Onest:wght@100;200;400;600;800&family=Open+Sans:ital@0;1&family=Poppins:wght@400;600&family=Quicksand:wght@300;500;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;800&family=Kumbh+Sans:wght@400;700&family=Onest:wght@100;200;400;600;800&family=Open+Sans:ital@0;1&family=Poppins:wght@400;600&family=Quicksand:wght@300;500;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
.contenedor{
    width: 80%;
    font-family: 'Inter', sans-serif;
    background-color: var(--midnight-blue);
    padding: 20px 20px 20px 0px;
}
.AlumnosLista {
    width: 100%;
    height: 100%;
    background-color: var(--white-smoke);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.contenedor-encabezado{
    background-color: var(--white);
    margin: 35px 50px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
}
.boton-agregar{
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    background-color: var(--midnight-blue-boton);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedor-tabla{
    background-color: var(--white);
    margin: 0px 50px;
    padding: 20px 0px 35px;
}
.tabla{
    width: 95%;
    margin: 0px auto;
}
.tabla-encabezado{
    color: var(--black);
    opacity: 50%;
    margin: 25px;
    width: 99%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 0.8fr 0.3fr;
    grid-gap: 5px;
    overflow: hidden;
}
.datos{
    display: grid;  
    grid-template-columns: 1fr 3fr 1fr .8fr 0.3fr;
    border: 1px solid var(--white-smoke);

}
.espacio{
    margin: auto 0px;
}
.estatus{
    width: 65%;
    color: var(--royal-blue);
    background-color: var(--royal-blue-ligth);
    border-radius: 5px;
    margin: 8px;
    text-align: center;
}
.boton-acciones{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    border: none;
    background-color: var(--white);
    justify-self: center;
}