#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*  text-align: center; */
	font-size: 16px;
	color: #2c3e50;
	display: flex;
}
nav {
	background-color: var(--midnight-blue);
	width: 20%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;	
}
nav h1 {
    color: var(--white);
    margin: 50px 0;
}
nav img{
    filter: saturate(0);
    filter: brightness(100);
}
nav a{
    width: 90%;
    height: 50px;
    padding-left: 10px;
    gap: 15px;
    font-weight: bold;
    color: var(--white);
    display: flex;
    align-items: center;
    text-align: start;
    text-decoration: none;
    border-radius: 10px;
}
.router-link-exact-active,
nav a.router-link-exact-active:hover {
    color: var(--royal-blue);
    background-color: var(--white);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.router-link-exact-active img,
nav a.router-link-exact-active:hover img {
    filter: none;
}

nav a:not(.router-link-exact-active):hover {
    transition: all .5s ease-in-out;
    color: var(--royal-blue);
    background-color: var(--white-smoke);
    filter: brightness(85%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

nav a:not(.router-link-exact-active):hover img {
    filter: none;
}