#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*  text-align: center; */
	font-size: 16px;
	color: #2c3e50;
	display: flex;
}
nav {
	background-color: var(--midnight-blue);
	width: 20%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;	
}
nav h1 {
    color: var(--white);
    margin: 50px 0;
}
nav img{
    filter: saturate(0);
    filter: brightness(100);
}
nav a{
    width: 90%;
    height: 50px;
    padding-left: 10px;
    gap: 15px;
    font-weight: bold;
    color: var(--white);
    display: flex;
    align-items: center;
    text-align: start;
    text-decoration: none;
    border-radius: 10px;
}
.router-link-exact-active {
    color: var(--royal-blue);
    background-color: var(--white);
}
.router-link-exact-active img{
    filter: none;
}