.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
}
.form-agg-edit{
    font-weight: bold;
    color: var(--dim-gray);
    display: flex;
    flex-direction: column;
    width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--white);
	padding: 20px;
	border: 1px solid var(--smoke-white);
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-agg-edit form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-input{
    height: 40px;
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    margin-left: 5px;
}
.form-input::placeholder{
    padding-left: 10px;
    color: var(--light-steel-blue);
}
.encabezado{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.encabezado button{
    border: none;
    background-color: var(--white);
}
.contenedor-form-boton{
    display: flex;
    justify-content: end;
}
.form-boton{
    width: 150px;
    height: 30px;
    background-color: var(--royal-blue);
    color: var(--white);
    border: none;
    border-radius: 5px;

}
/* Contenedor de los inputs de la vista de grupos (es diferente layout) */
.contenedor-inputs{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 10px;
}