.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15); /* Fondo oscuro semitransparente */
}

.encabezado{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
}
.encabezado button{
    border: none;
    background-color: var(--white);
}
.error {
	font-weight: bold;
	color: var(--dim-gray);
	display: flex;
	flex-direction: column;
	width: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--white);
	padding: 20px;
	border: 1px solid var(--smoke-white);
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.mensaje{
    padding: 20px;
}
.contenedor-botones-eliminar{
    margin-right: 30px;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.contenedor-botones-eliminar button{
    width: 50px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    padding: 5px 3px;
}
.boton-si{
    background-color: var(--royal-blue);
}
.boton-no{
    background-color: var(--red);
}