@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;800&family=Inter:wght@200;400;500;700&family=Kumbh+Sans:wght@400;700&family=Onest:wght@100;200;400;600;800&family=Open+Sans:ital@0;1&family=Poppins:wght@400;600&family=Quicksand:wght@300;500;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
:root {
	--midnight-blue: #28246f;
    --midnight-blue-boton: #110D59;
	--royal-blue: #5459ea;
    --royal-blue-ligth: #cccdf9;
	--white: #ffffff;
    --black: #000000;
	--white-smoke: #f1f2f4;
	--dim-gray: #71717A;
	--light-gray: #E4E6EE;
	--light-steel-blue: #AEB4CF;
	--red: #f50400;
}
* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
#app{
    font-family: 'Inter', sans-serif;
}