.tabla-encabezado-grupos{
    color: var(--dim-gray);
    margin: 25px;
    width: 99%;
    display: grid;
    grid-template-columns: 8% 12% 12% 9% 9% 9% 9% 9% 9% 9% 5%;
    overflow: hidden;
}
.datos-grupos{
    font-size: 12px;
    display: grid; 
    gap: 10px; 
    grid-template-columns: 7% 11% 11% 8% 8% 8% 8% 8% 8% 8% 5%;
    border: 1px solid var(--white-smoke);
    padding: 10px 0px 10px 25px;
}
.datos-grupos span{
    align-self: center;
}