@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;800&family=Kumbh+Sans:wght@400;700&family=Onest:wght@100;200;400;600;800&family=Open+Sans:ital@0;1&family=Poppins:wght@400;600&family=Quicksand:wght@300;500;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
/* VISTAS DEL MENU DESPLEGABLE */
.menu-desplegable button{
    width: 70px;
    border: none;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--dim-gray);
    font-weight: 500;
}
.menu-desplegable div{
    display: flex;
    margin: 5px;
    align-items: start;
}
.contenedor-principal{
    width: 80vw;
    height: 100vh;
    background-color: var(--midnight-blue);
    padding: 20px 20px 20px 0px;
}
.contenedor-lista{
    width: 100%;
    height: 100%;
    background-color: var(--white-smoke);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.contenedor-encabezado{
    background-color: var(--white);
    margin: 35px 50px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
}
.boton-agregar{
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    background-color: var(--midnight-blue-boton);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedor-tabla{
    background-color: var(--white);
    height: 72%;
    margin: 0px 50px 35px;
    padding: 20px 0px 35px;
}
.tabla{
    width: 95%;
    margin: 0px auto;
}
.tabla-encabezado{
    color: var(--black);
    opacity: 50%;
    margin: 20px;
    width: 99%;
    display: grid;
    grid-template-columns: 20% 37% 20% 15% 8%;
    grid-gap: 5px;
    overflow: hidden;
}
.contenedor-datos{
    overflow-y: auto;
    max-height: 50vh; 
}
::-webkit-scrollbar{
    width: 10px;
    background-color: var(--white);
    border: 1px solid var(--white-smoke);
    border-radius: 5px;
    margin-left: 5px;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: var(--white-smoke);
    border-radius: 5px;
}
.datos{
    display: grid;  
    grid-template-columns: 20% 37% 20% 15% 8%;
    border: 1px solid var(--white-smoke);
}
.espacio{
    margin: auto 0px;
}
.estatus{
    width: 65%;
    border-radius: 5px;
    margin: 8px;
    padding: 3px;
    text-align: center;
}
.baja{
    color: var(--dim-gray);
    background-color: var(--light-gray);
}
.activo{
    color: var(--royal-blue);
    background-color: var(--royal-blue-ligth);
}
.boton-acciones{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    border: none;
    background-color: var(--white);
    justify-self: center;
}