.tabla-encabezado-materias{
    color: var(--black);
    opacity: 50%;
    margin: 20px;
    width: 99%;
    display: grid;
    grid-template-columns: 20% 57% 15% 5%;
    
    overflow: hidden;
}
.datos-materias{
    display: grid;  
    gap: 10px;
    grid-template-columns: 19% 57% 14% 5%;
    border: 1px solid var(--white-smoke);
    padding: 10px 0px 10px 25px;
}
.datos-materias span{
    align-self: center;
}