.tabla {
	width: 97%;
}
.tabla-encabezado-carga {
	color: var(--dim-gray);
	margin: 25px;
	width: 99%;
	display: grid;
	grid-template-columns: 6% 12% 11% 9% 13% 8% 8% 8% 8% 8% 10%;
	overflow: hidden;
}
.datos-carga {
	font-size: 12px;
	display: grid;
	gap: 3px;
	grid-template-columns: 5% 13% 10% 9% 13% 8% 8% 8% 8% 8% 10%;
	border: 1px solid var(--white-smoke);
	padding: 10px 0px 10px 25px;
}
.datos-carga span {
	align-self: center;
}
